.editor-container {
  position: relative;
  height: 100%;
}

.editor-container * {
  box-sizing: border-box;
}

.editor-insert-button {
  border: none;
  border: 1px solid #cccccc;
  cursor: pointer;
  height: 45px;
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  z-index: 3;
}

.editor-insert-button:focus {
  outline: none;
}

.editor-codemirror {
  border: 1px solid #cccccc;
  cursor: text;
  line-height: 1.5;
  font-size: 100%;
  min-height: 45px;
  padding: 5px;
  padding-right: 50px;
}

.disabled {
  background: #e4e4e4;
}

.disabled > div {
  background: #e4e4e4;
}
.disabled .CodeMirror-widget > div[role="button"] {
  background: #c4c4c4 !important;
  border: #c4c4c4 !important;
}

.editor-codemirror .CodeMirror {
  font-family: Arial, Helvetica, sans-serif;
}

.editor-choices-container {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  width: 100%;
  z-index: 999;
}

.editor-choices-container--input {
  border: 1px solid #cccccc;
  border-top: 0;
  border-bottom: 1px solid #cccccc;
  padding: 10px;
  width: 100%;
}

.editor-choices-container--input:focus {
  outline: none;
}

.choices {
  margin: 0;
  list-style: none;
  padding: 0;
  overflow: auto;
  border-radius: 0 0 3px 3px;
  border-bottom: 1px solid #cccccc;
}

.choice-item {
  border: 1px solid #cccccc;
  background: #f3f3f3;
  border-top: 0;
}

.choice-item:hover {
  background: #eaeaea;
}

.choice-item:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 3px 3px;
}

.choice-item a {
  cursor: pointer;
  color: #989898;
  display: block;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.choice-item a:focus {
  outline: none;
}

.choice-item--title {
  color: #3d3d3d;
  display: inline-block;
  padding: 10px;
  font-weight: bold;
}
